body {
  width: 235px;
  background-color: white;
  flex: content;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 50px;
}

ul#ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 30px 10px 10px;
  padding: 0;
  width: full;
  font-family: monospace;
}

h2#one {
  font-family: monospace;
  font-size: 15px;
}

span {
  background-color: rgba(16, 185, 129, 0.274);
  padding: 1px 5px;
  border-radius: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 70%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}