span#moon {
  color: rgb(255, 255, 255);
}

div#hell {
  width: 200px;
  height: 300px;
  background-color: rgb(0, 0, 0);
}

h1#font {
  width: 300px;
  height: 400px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}